<widget id="11111111111111" version="0.0.1">
  <name>我的apicloud项目的config.xml配置文件</name>
  <description>
    利用这个作为模板
  </description>
  <author email="developer@apicloud.com" href="http://www.apicloud.com">
    Developer
  </author>
  <content src="index.html" />
  <access origin="*" />

  <preference name="pageBounce" value="false" />
  <preference name="appBackground" value="rgba(255,255,255,1.0)" />
  <preference name="windowBackground" value="rgba(255,255,255,1.0)" />
  <preference name="frameBackgroundColor" value="rgba(255,255,255,1.0)" />
  <preference name="hScrollBarEnabled" value="true" />
  <preference name="vScrollBarEnabled" value="true" />
  <preference name="autoLaunch" value="false" />
  <preference name="fullScreen" value="false" />
  <preference name="autoUpdate" value="true" />
  <preference name="smartUpdate" value="false" />
  <preference name="debug" value="true" />
  <preference name="statusBarAppearance" value="true" />
  <preference name="softInputMode" value="resize" />
  <preference name="fileShare" value="true" />

  <permission name="readPhoneState" />
  <permission name="camera" />
  <permission name="record" />
  <permission name="location" />
  <permission name="fileSystem" />
  <permission name="internet" />
  <permission name="bootCompleted" />
  <permission name="hardware" />
  <preference name="urlScheme" value="yundingzhushou" />
  <preference name="backgroundMode" value="bluetooth-central | bluetooth-peripheral" />

  <feature name="TalkingData">
    <param name="logEnable" value="true" />
    <param name="exceptionReportEnabled" value="true" />
    <param name="channel" value="yunding" />
  </feature>

  <feature name="aMap">
    <param name="android_api_key" value="a90f95a2f69e48567b048a5a4950354f" />
    <param name="ios_api_key" value="a9c19575326c7e1a85bd3220dff82f42" />
  </feature>
</widget>