.dynamic-pwd
  &__title
    color #000
    padding-top 40PX
    padding-bottom 30px
    font-size 17PX
    text-align center
    font-weight blod

  &__content
    text-align center
    padding 0 20px 40px

  &__row
    margin-bottom 30px
    line-height 1.6

  &__blod
  &__strong
    color #000
    font-size: 16PX
    font-weight blod
    letter-spacing 5px

  &__strong
    font-size: 21PX

  &__tip
    padding-top 30px
    color gray50
    line-height 1.6

.yd-dialog
  &__content
    padding 0 20PX

  &__row
    position relative
    padding 11PX 0

  &__form__row
    padding-bottom 22PX

  &__row--message
    position absolute
    right 0
    bottom 0
    color textWarn
    font-size 13PX

  &__note
    font-size 12PX
    color gray50
